#header {
    
    text-align: center;
    background-color: beige;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    color: white;
    font-size: 35px;
    
}

;



.current-day{
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.five-day-header{
    
}

.five-days{
    display: flex;
    justify-content: center;
    align-items: center;
  
}



.card {
    

    /* Add shadows to create the "card" effect */
    display: inline-block;
    color: rgb(26, 81, 132);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
   width: auto;
   padding: 0 10px 0 10px;
    
}  

/* Add some padding inside the card container */

